@import url('styles.css'); 

@media screen and (min-width: 1201px) {
   
    #profile{
      padding-top: 150px;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact {
      height: fit-content;
    }
    .section__pic-container img {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
  }


@media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }

    .experience-details-container {
      margin-top: 2rem;
    }

    #profile,
    .section-container {
      display: block;
    }

    section{
      padding-bottom: 80px;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }

    .section__pic-container img {
      width: 275px;
      height: 275px;
      margin: 0 auto 2rem;
    }
    .about-containers {
      margin-top: 0;
    }
  }

  @media (min-width: 769px) {
    .nav__menu {
      display: flex !important;
      align-items: center;
      gap: 3rem;
    }
    .nav__toggle-open,
    .nav__toggle-close{
      display: none !important;
    }
  }



  @media (max-width: 768px) {

    section{
      padding-top: 60px;
      padding-bottom: 50px;
    }

    .nav__menu {
      position: fixed;
      right: 0.5rem;
      top: 3.8rem;
      flex-direction: column;
      gap: 0;
      width: fit-content;
      display: none; /* Initially hidden on small screens */
    }

    .nav__toggle-open,
    .nav__toggle-close {
      display: inline-flex; /* inline-flex for consistent sizing and alignment */
      font-size: 1.8rem;
      color: black;
      width: 40px; /* Ensure toggle buttons also have a fixed width */
      height: 40px; /* Ensure toggle buttons also have a fixed height */
    }

    .nav__toggle-close {
      display: none; /* Close button hidden by default */
    }


    .nav__menu li{
        width: 100%;
        perspective: 250px;
    }


    .nav__menu li a{
        background: var(--color-bg-nav);
        padding: 1rem 4rem;
        margin-top: 2px;
        width: 100%;
        display: block;
        border-bottom: 2px solid var(--color-accent);
        text-align: center;
        box-shadow: -1.5rem 5rem 5rem rgba(0, 0, 0, 0.3);
        color: var(--text-p);
    }

    .nav__menu li {
        transform: rotateX(90deg);
        opacity: 0;
        animation: navKey 500ms ease-in-out forwards;
        transform-origin: top;
    }

    .nav__menu li:nth-child(2){
        animation-delay: 80ms;
    }
    .nav__menu li:nth-child(3){
        animation-delay: 160ms;
    }
    .nav__menu li:nth-child(4){
        animation-delay: 240ms;
    }
    .nav__menu li:nth-child(5){
        animation-delay: 3200ms;
    }

    @keyframes navKey{
        to{
            transform: rotateX(0deg);
            opacity: 1;
        }
    }

    

  }

  @media screen and (max-width: 600px) {

    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 1rem;
    }
    .title {
      font-size: 1.5rem;
    }


    .text-container {
      text-align: justify;
    }

    .footer__menu{
      display: none;
    }

    footer{
      padding-top: 1rem;
    }
  }

  /* 2 columns from 480px to 780px */
@media (min-width: 580px) {
  .projects__container {
      grid-template-columns: repeat(2, 1fr);
  }
}

/* 3 columns from 910px and above */
@media (min-width: 910px) {
  .projects__container {
      grid-template-columns: repeat(3, 1fr);
  }
}




