/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
  --container-width-lg: 80%;


  --radius-1: 50%;
  --radius-2: 1rem;

  --transition: all 300ms ease-in-out;

  --bg-gray: rgb(224, 224, 224);
  --nav-light-bg: rgba(255, 253, 253, 0.5);
  --box-shadow-1: 0 4px 8px rgba(0, 0, 0, 0.1);

  --color-gray-light: rgba(255, 255, 255, 0.945);
  --color-gray-light-1: rgba(255, 255, 255, 0.842);
  --color-gray-1: rgba(255, 253, 253, 0.5);
  --color-gray-2: rgb(85, 85, 85);
  --color-gray-3: rgb(99, 99, 99);
  --color-gray-4: rgb(53, 53, 53);
  --color-gray-5: rgb(187, 181, 181);
}


html, body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
  /* padding-top: 0; */
}

main{
  flex: 1;
  text-align: center;
}

/* SECTIONS */

section {
  padding:  1rem;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: fit-content;
  scroll-margin-top: 3.8rem;
}

.section-container {
  display: flex;
}

section:nth-child(even){
  background: var(--bg-gray);
}

p {
  color: var(--color-gray-3);
}

h3 {
  color: var(--color-gray-4)
;}

img{
    border-radius: 50%;
}


.title {
  font-size: 3rem;
  text-align: center;
  color: var(--color-gray-4);
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 8px 5px;
  width: 7rem;
  border-radius: 20px;
}

.btn-color-1,
.btn-color-2 {
  border: var(--color-gray-5) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}


.btn-color-2:hover {
  background: var(--color-gray-5);
  color: var(--color-gray-light);
}

.btn-color-1:hover {
  background: var(--color-gray-3)
}

.btn-color-1{
  background: var(--color-gray-3);
  color: var(--color-gray-light);
}

.btn-color-1:hover{
  background: var(--color-gray-5);
  color: var(--color-gray-4);
}

.btn-color-2 {
  background: none;
  color: var(--color-gray-4);
}

.btn-color-2:hover {
  border: none;
}

.btn-container {
  gap: 1rem;
}


/* TRANSITION */

a,
.btn {
  transition: var(--transition);
}

/* NAV */
nav {
  background: var(--color-gray-1);
  display: grid;
  place-items: center;
  height: 3.8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  box-shadow: var(--box-shadow-1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(15px);
  -o-backdrop-filter: blur(15px);
  -ms-backdrop-filter: blur(15px);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__menu a{
  color: var(--color-gray-2);
}

.nav__menu a:hover{
  color: black;
}

.nav__buttons {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally within the container */
  gap: 2.5rem; /* Adjust spacing between buttons */
  position: relative; /* Ensure consistent positioning */
}

.nav__btn {
  font-size: 1.2rem;
  background: transparent;
  margin: 0; /* Remove any margins */
  padding: 0; /* Remove any padding */
  width: 35px; /* Set a fixed width for consistency */
  height: 35px; /* Set a fixed height for consistency */
  text-align: center; /* Center the icon within the button */
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__theme-btn {
  width: 40px; /* Set a consistent width for the moon icon button */
  height: 40px; /* Set a consistent height */
  text-align: center; /* Center the icon within the button */
}

.nav__toggle-open,
.nav__toggle-close {
  display: none;
  width: 40px; /* Set a consistent width for the toggle buttons */
  height: 40px; /* Set a consistent height */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-3) !important;
  transition: var(--transition);
}



/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 90px;
  min-height: fit-content;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

#socials-container a{
    color: var(--color-gray-4);
    display: inline-block;
    border-radius: var(--radius-1);
    transition: var(--transition);
    font-size: 1.2rem;
}

#socials-container a:hover{

    opacity: 0.6;
    transform: translateY(-0.5rem);
}


/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  flex-wrap: wrap;
}

.about-pic {
  border-radius: var(--radius-1);
}


.details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--color-gray-light);
  border-radius: var(--radius-2);
  border: var(--color-gray-5) 0.1rem solid;
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */


.experience-sub-title {
  color: var(--color-gray-3);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.article-container {
  width: 100%;
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  /* flex-direction: row; */
  gap: 1rem;
  justify-content: space-between;
}

article {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

.project__categories {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.project__categories li {
  color: var(--color-gray-4);
  background-color: var(--color-gray-1);
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.project__categories li:hover,
.project__categories .mixitup-control-active {
  background-color: var(--color-gray-3);
  color: var(--color-gray-light);
}

.projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}



/* Project Card Styles */
.project {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  text-align: center;
  background: var(--color-gray-light-1);
  transition: box-shadow 0.3s ease;
}

.project:hover {
  box-shadow: var(--box-shadow-1);
}

/* Buttons Container */
.project-buttons {
  margin: 1.3rem 0;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.project-buttons .btn{
  padding: 5px;
}


.project img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.project:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--color-gray-5) 0.1rem solid;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact__list{
  display: flex;
  gap: 1.4rem;
}

.contact__list-item{
  background: var(--color-gray-1);
  padding: 1rem;
  display: block;
  text-align: center;
  color: var(--color-gray-4);
  border-radius: 50%;
  font-size: 1.2rem;
  transition: var(--transition);
}

.contact__list a:hover{
    opacity: 0.6;
    transform: translateY(-0.5rem);
}

.contact-icon {
  cursor: default;
}



footer{
  background: var(--color-gray-4);
  padding-top: 2rem;
}

.footer__menu{
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.footer__menu a{
  color: var(--color-gray-light-1);
  transition: var(--transition);
}

.footer__menu a:hover{
  color: var(--color-gray-2);
}

.footer__socials{
  width: fit-content;
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem auto 2rem;
}

.footer__socials a{
  background: var(--color-gray-light);
  color: var(--color-gray-4);
  padding: 0.6rem;
  display: flex;
  border-radius: var(--radius-1);
  transition: var(--transition);
}

.footer__socials a:hover{

  opacity: 0.6;
  transform: translateY(-0.5rem);
}

.footer__copyright{
  color: var(--color-gray-light-1);
  text-align: center;
  border-top: 1px solid var(--color-gray-light);
  padding: 1.5rem 0;
}


.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none; /* Initially hidden */
  background-color: var(--color-gray-2);
  color: var(--color-gray-light-1);
  padding: 5PX 10px;
  border-radius: var(--radius-1);
  font-size: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.back-to-top:hover {
  background-color: var(--color-gray-4);
  transition: var(--transition);
}

.back-to-top i {
  font-size: 1.5rem;
}


